/* STYLE SECTIONING TAGS */
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  text-align: center;
  background-color: #edd7bb;
}
/* STYLE TEXT */
h1 {
  font-family: "Special Elite", cursive;
  color: #b43028;
  font-size: 60px;
  text-align: center;
}

h2 {
  font-family: "Open Sans", sans-serif;
  margin-top: 2em;
  text-align: center;
}

p {
  font-family: "Open Sans", sans-serif;
}

h3 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 2em;
}

h4 {
  font-family: "Special Elite", cursive;
  text-align: center;
  font-size: 40px;
  color: #b43028;
}
h5 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #b43028;
}
ul {
list-style-type: none; /* Removes bullet points */
text-align: center;
}

/* STYLE BUTTON */
button { 
  margin-top: 5px;
  font-family: "Open Sans", sans-serif;
}

/* STYLE FLEX CONTAINER */
.question {
  display: grid;
  /* Two columns */
  grid-template-columns: repeat(2, auto); 
  gap: 10px;
  justify-content: center;
  margin-top: 2em;
  align-items: center;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  margin: 0px;
}

/* STYLE IMAGES */
.answer-choice img {
  height: 10em;
  width: 15em; 
  text-align: left;
}
.homeimg {
  width: 500px;
  height: auto;
  justify-content: center;
}
.resultimg {
  width: auto;
  height: 25em;
}
